POSTGRES_USER=fellowship
POSTGRES_PASSWORD=fellowship
POSTGRES_DB=fellowship
POSTGRES_PORT=5432
DB_CLIENT=pg
DB_PORT=5432
NODE_ENV=local

NGINX_HTTPS_PORT=8443
FRONTEND_PORT=5173
DOZZLE_PORT=9999

BACKEND1_A_PORT=3100
BACKEND1_B_PORT=3001
BACKEND2_A_PORT=3002
BACKEND2_B_PORT=3003

APP_CPUS=0.50
APP_MEMORY=512m
DB_CPUS=0.50
DB_MEMORY=512m
NGINX_CPUS=0.25
NGINX_MEMORY=128m
MONITORING_CPUS=0.25
MONITORING_MEMORY=128m
